<table border=1>
  <thead>
    <th>state name</th>
    <th>city name </th>
    <th>city population </th>
    <th>State Population </th>
  </thead>
  <tbody>
    <tr>
      <td><%= @state.name %></td>
      <td><%= @city.name %> </td>
      <td><%= @city.population %> </td>
      <td><%= @state.population %> </td>
    </tr>
  </tbody>
</table>  
